# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other
*.iobj
*.ipdb
*.pdb
*.iobj
*.tlog
*.xml
.vs/*
/Release/*
/Debug/*
/EDF_Tools/Release/*
/EDF_Tools/Debug/*
/ModelScale/Release/*
/ModelScale/Debug/*
/Dxbc2Asm/Release/*
/Dxbc2Asm/Debug/*
/RemapBones/Release/*
/RemapBones/Debug/*
/x64/*
